.galleryContainer {
  background-color: #eff1ed;
}

.galleryDescription {
  color: #333d29;
}

.galleryDescription h3 {
  padding-top: 2%;
  font-size: xx-large;
  text-transform: capitalize;
  color: #333d29;
}

.laptop-size {
  height: 410px;
  width: 750px;
  position: relative;
}

.video-size {
  height: 250px;
  position: absolute;
}

.laptop-container {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.scroll-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For phones */
@media screen and (max-width: 767px) {}

/* DONE For tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .scroll-section-inner {
    height: 60vh;
    display: flex;
    flex-direction: row;
  }
}

/* For laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* For big screens */
@media screen and (min-width: 1200px) {}